{% extends 'base.html' %}
{% load static %}

{% block title %}Fytispo{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/landingPage.css' %}">
{% endblock %}

{% block content %}
<div class="homepage-container">
    <!-- Left side: Huge Image -->
    <div class="image-container">
        <img src="{% static 'Images/makotoYukiP3R.png' %}" alt="Makoto Yuki" class="homepage-image">
    </div>

    <!-- Right side: Card with Buttons -->
    <div class="content-container">
        <h2>Experience Music, Your Way.</h2>
        <div class="card">
            <div class="card-content">
                <h4>New here?</h4>
                <button class="card-button" onclick="window.location.href='{% url 'register' %}';">Register</button>
                
                <h4><br><br>Already have an account?</h4>
                <button class="card-button" onclick="window.location.href='{% url 'login' %}';">Log in</button>
            </div>
        </div>        
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}
