{% extends 'base.html' %}
{% load static %}

{% block title %}Fytispo - Moderator{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/moderatorDashboard.css' %}">
{% endblock %}

{% block content %}

    <div class="dashboard-container">
        <!-- Main Content -->
        <div class="main-content">
            <div class="profile-container">
                <img src="{% static 'images/joker.jpeg' %}" alt="Profile Picture" class="profile-pic">
                <div class="profile-info">
                    <h2 class="username">Joker</h2>
                    <p><span class="role">Moderator</span></p>
                </div>
            </div>      
            <!-- Buttons -->  
            <button class="flag-card-button" onclick="window.location.href='{% url 'modFlag' %}';">Review Flagged Content</button>
            <button class="postAnnouncement-card-button" onclick="window.location.href='{% url 'postAnnouncement' %}';">Post Announcement</button>
            <button class="viewAnnouncement-card-button" onclick="window.location.href='{% url 'readAnnouncement' %}';">View Announcement</button>
            <button class="logOut-card-button" onclick="window.location.href='{% url 'logout' %}';">Log Out</button>
        </div>
    </div>

{% endblock %}

